footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
  box-sizing: border-box;
}

p {
  color: silver;
  padding: 3px 0px;
  font-size: 1rem;
}

.col h3 {
  font-family: "PT Serif", serif;
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
  color: white;
}

h4 {
  padding-top: 7px;
  font-size: 1rem;
  color: silver;
}

.footer-logo {
  font-family: "Playball", cursive;
  padding-bottom: 1em;
  font-size: 3rem;
  font-weight: bolder;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

.social-icons {
  display: flex;
}

.social-icons a img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
  color: #000;
  background: #fff;
  padding: 5px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.social-icons a img:hover {
  background: silver;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
  font-size: larger;
}

.underline {
  width: 100%;
  height: 3px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }

  100% {
    left: 100%;
  }
}

@media (max-width: 800px) {
  footer {
    bottom: unset;
  }
  .copyright {
    margin: auto;
    width: 80%;
  }
}

@media (max-width: 1200px) and (min-width: 801px) {
  .col {
    margin-right: 100px;
  }
  .col h3 {
    font-size: 0.84rem;
  }
}

#para {
  width: 15em;
}

#copyright {
  width: 80px;
}
