@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Literata:ital@1&family=Love+Light&family=Oooh+Baby&family=Open+Sans:ital@1&family=PT+Serif:ital@1&family=Playball&family=Playfair+Display:ital,wght@1,500&family=Pushster&family=Rasa:ital@1&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--clr);
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

:root {
  --clr: #e9ecef;
}

@media(max-width: 280px) {
  body {
    display: none;
  }
}