#bg-login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#c_a_heading {
  font-family: 'Literata', serif;
  margin-top: 1.5em;
  text-transform: capitalize;
  margin-top: 3em;
  margin-bottom: 0.5em;
  font-size: 2.5em;
  font-weight: bolder;
  font-weight: bolder;
}

#name_container, #name_container2 {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Name, .Name2 {
  color: black;
  border: none;
  display: flex;
  text-align: center;
  border-radius: 20px;
  width: 25em;
  padding: 1em;
  margin: 1em;
  background: transparent;
  font-size: 1pc;
  font-weight: 300;
  border-bottom: 5px solid black;
  outline: none;
  padding-left: auto;
  text-align: center;
}

.Name3 {
  resize: none;
  display: block;
  color: black;
  border: none;
  display: flex;
  text-align: center;
  border-radius: 20px;
  width: 25em;
  padding: 1em;
  margin: 1em;
  background: transparent;
  font-size: 1pc;
  font-weight: 300;
  border: 3px solid black;
  border-top: none;
  outline: none;
  padding-left: auto;
  text-align: center;
}

#create_account_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Checkbox_container {
  padding: 1em;
}

#checkbox {
  position: relative;
  width: 4em;
}

#checkbox_text {
  font-size: 1em;
  height: 100%;
  justify-self: auto;
  width: 100%;
}

.C_a-btn {
  font-family: 'Rasa', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20ch;
  width: 22em;
  padding: 1em;
  color: black;
  margin: 1em;
  font-size: 1.2em;
  font-weight: 300;
  outline: none;
  background-color: rgba(253, 10, 10, 0.719);
  border: none;
  cursor: pointer;
  margin-bottom: 7em;
}

.C_a-btn:hover {
  background-color: white;
  box-shadow: 2px 2px 2px 2px black;
}

@media screen and (max-width:450px) {
  #Checkbox_container {
    text-align: center;
    padding: 1em;
  }

  #checkbox {
    position: relative;
    width: 4em;
  }

  #checkbox_text {

    font-size: 0.8em;
    height: 100%;
    justify-self: auto;
    width: 100%;
  }

  .C_a-btn {
    width: 90%;
  }

  #name_container2 {
    width: 90vw;
  }

  #name_container {
    flex-direction: column;
  }

  .Name , .Name3 {
    width: 85vw;
  }

  #c_a_heading {
    margin-top: 3em;
    font-size: 2em;
  }
}

@media screen and (max-width:330px) {
  #c_a_heading {
    font-size: 1.7em;
  }

  .Name2 {
    padding: 0.3em;
  }
}